version: "3.9"

services:
  postgres:
    image: postgres:14
    environment:
      POSTGRES_DB: medical
      POSTGRES_USER: admin
      POSTGRES_PASSWORD: admin
    ports:
      - "5432:5432"

  api:
    build: .
    command: uvicorn api.main:app --host 0.0.0.0 --port 8000
    depends_on:
      - postgres
    ports:
      - "8000:8000"

  dagster:
    build: .
    command: dagster dev -h 0.0.0.0 -p 3000
    ports:
      - "3000:3000"
